nav.breadcrumb(aria-label='breadcrumbs')
    ul
        li
            a(href='#')
                span.icon.is-small
                    i.fas.fa-home(aria-hidden='true')
                span Bulma
        li
            a(href='#')
                span.icon.is-small
                    i.fas.fa-book(aria-hidden='true')
                span Documentation
        li
            a(href='#')
                span.icon.is-small
                    i.fas.fa-puzzle-piece(aria-hidden='true')
                span Components
        li.is-active
            a(href='#')
                span.icon.is-small
                    i.fas.fa-thumbs-up(aria-hidden='true')
                span Breadcrumb