extends ../layout

//- From layout
//- main.tile.is-ancestor
    //- .tile.is-parent.is-vertical.is-12
        //- .tile.is-child.is-horizontal
            //- include ./includes/breadcrumbs.pug
        //- .tile.is-child.is-horizontal
            //- block content

block content
    .tile.is-ancestor.is-vertical
        .tile
            .tile.is-parent
                .tile.is-child.box
                    article.content
                        h2#what-is-this.title What is this?
                        p
                            | Green Things is a site that celebrates the color green. Create an account. Log in. Check out the gallery. Start adding things that are green.  That&apos;s it.
                        p
                            | As you may gathered by now, this is a demonstration project. This project focuses on building out an Express app with PostgreSQL. I&apos;ve built other apps using SQLite, but this is my first using PostgreSQL, and the first that I&apos;ve deployed to Heroku using PostgreSQL.
                        p
                            | The app is deployed here:  
                            a(href='http://jj-learning-postgres.herokuapp.com' title="Green Things on Heroku") http://jj-learning-postgres.herokuapp.com

                        p   
                            | The repo is here: 
                            a(href='https://github.com/TAP-Projects/learning-postgres' title='Green Things on GitHub') https://github.com/TAP-Projects/learning-postgres
            
            .tile.is-parent    
                .tile.is-child.box
                    article.content
                        h3#features.title Features
                        p Users can:
                        ul.container
                            li Create an account
                            li Edit account details
                            li Add items to the gallery
                            li Edit their gallery items
                        p Users are authenticated with ...

        .tile.is-parent
            .tile.is-child.box
                article.content
                    h4#issues.title Issues
                    p
                        | Please report any issues here: 
                        a(href='https://github.com/TAP-Projects/learning-postgres/issues') https://github.com/TAP-Projects/learning-postgres/issues

