extends ../layout

block content
    p.title= "Gallery"
    .tile.is-ancestor
        .tile.is-parent
            .tile.is-child
                include ../includes/card
        .tile.is-parent
            .tile.is-child
                include ../includes/card
        .tile.is-parent
            .tile.is-child
                include ../includes/card
    .tile.is-ancestor
        .tile.is-parent
            .tile.is-child
                include ../includes/card
        .tile.is-parent
            .tile.is-child
                include ../includes/card

