extends ../layout

block content
  p.title= title
  p.subtitle Welcome to #{title}, a celebration of things that are green.
  p 
    a(href='/login' title='Log in') Please log in
    |. Don't have an account? 
    a(href='/create-account' title='create account')  Sign up!
