extends ../layout

block content

    .column.is-4

        h2.title Profile

        .edit-delete.content
            // Change edit to save after changes have been made
            a.button.is-info.is-outlined(style="margin-right: 1em;") Edit
            a.button.is-danger.is-outlined
                span Delete
                span.icon.is-small
                    i.fas.fa-times

        .content
            p.firstName 
                span.title.is-4 First Name: #{first_name}

            p.lastName
                span.title.is-4 Last Name #{last_name}

            p.email
                span.title.is-4 Email: #{email}

            p.username
                span.title.is-4 Username: #{username}

            .change-password
                a.button.is-danger.is-outlined Change Password
