extends ../layout

block content
    // Each input tag can receive either the is-success or is-danger class depending on validation result. The control div needs has-icons-right for the corresponding icons. There are also examples below of where icon and help messages should appear.
    // I think I've been using the wrong form encoding. I was using multipart.
    .column.is-4
        form.form-horizontal(method='POST' action='/sign-up' enctype='x-www-form-urlencoded')
            fieldset
                legend.title Create Account
                if errors
                    each err in errors
                        p.help.is-danger= err.msg
                .first-name.field
                    label.label(for='firstName') First Name
                    .control
                        input.input(name='firstName' type='text' placeholder='First name' autocomplete="first-name" required='required')

                .last-name.field
                    label.label(for='lastName') Last Name
                    .control
                        input.input(name='lastName' type='text' placeholder='Last name' autocomplete="last-name" required='required')

                .email.field
                    label.label(for='emailAddress') Email
                    .control.has-icons-left
                        input.input(name='emailAddress' type='email' placeholder='Email address' autocomplete="email" required='required')
                        span.icon.is-small.is-left
                            i.fas.fa-envelope
                        //span.icon.is-small.is-right
                            i.fas.fa-exclamation-triangle
                    //p.help.is-danger This email is invalid

                .username.field
                    label.label(for='username') Username
                    .control.has-icons-left.has--right
                        input.input(name='username' type='text' placeholder='Username' autocomplete="username" value='Username' required='required' min-length='4' max-length='16')
                        span.icon.is-small.is-left
                            i.fas.fa-user
                        //span.icon.is-small.is-right
                            i.fas.fa-check
                    //p.help.is-success This username is available
                    //p.help.is-danger This username is not available

                .password.field
                    label.label(for='password') Password
                    .control.has-icons-left
                        input.input(name='password' id='password' type='password' autocomplete="new-password" placeholder='********' required='required' min-length='8' max-length='16')
                        //span.icon.is-small.is-left
                            i.fa.fa-lock
                
                .password.field
                    label.label(for='password-confirmation') Confirm Password
                    .control.has-icons-left
                        input.input(name='password-confirmation' id='password-confirmation' type='password' autocomplete="new-password" placeholder='********' required='required' min-length='8' max-length='16')
                        //span.icon.is-small.is-left
                            i.fa.fa-lock

                .field.is-grouped
                    .control
                        //!NOTE: Do I need to add type=submit?
                        button.button.is-link(type="submit") Submit
                    .control
                        button.button.is-link.is-light Cancel
